*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;

}
body{
   /* background-color: rgb(184, 228, 241); */
   /* font-family: sans-serif; */
}
#main{
     width: 100%;
    height: 100%;
}
#box1{
    /* background-color: red; */
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box2:hover{
    color: gray;
}
#box2{
    width: 40%;
    height: 100%;
    margin-left: 120px;
    margin-top: 15px;
}
#box3{
    width: 60%;
    height: 100%;
    display: flex;
    text-indent: 80px;
    font-size: 30px;
    padding-top: 55px;
    margin-top: 20px;
}
#box3 a{
    color: black;
}
#box3 a:hover{
    color: grey;
}
#box2 p{
    /* color: white; */
    margin-top: 20px;
    padding-left: 100px;
    font-size: 45px;
    font-weight: lighter;
}
#box4{
    width:100%;
    height: 85%;
    /* background-color: red; */
    display: flex;
}
#box5{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    /* background-color: rgb(153, 209, 226); */
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
    
    margin-bottom: 50%;
}
/* #box5:hover{
    background-color: #74b9b4;
     border-radius: 80%; 
} */
#box5 img{
    width: 360px;
    border-radius: 50%;
    margin-left: 60px;
}
#box6{
    width: 60%;
    height: 100%;
    /* background-color: red; */
    /* background-color: rgb(184, 228, 241); */
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    /* text-indent: 200px; */
    /* padding-top: 80px; */
}
#box7{
    /* background-color: red; */
}
#p1{
    font-size: 20px;
    font-weight: bold;
}
#p2{
    font-size: 50px;
    font-weight: bolder;
}
#p2:hover{
    color: rgb(134, 130, 130);
}
#p3{
    font-size: 45px;
    font-weight: bolder;
}
#p3:hover{
    color: rgb(134, 130, 130);
}
.box{
    /* background-color: red; */
    display: flex;
    width: 280px;
    height: 40px;
    padding-left: 150px;
    margin-top: 10px;
    
}
.b1{
    /* background-color: black; */
    border-radius: 1px;
    border-style: solid;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.b2{
    margin-left: 20px;
     border-style: solid;
     border-radius: 10%;
    width: 90px;
    height: 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.img{
    display: flex;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 250px;
    margin-top: 10px;
}

.i2{
    margin-right: 15px;
}
#main2{
    height: 100%;
    width: 100%;
}
#box8{
    height: 15%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#box9{
    width: 300px;
    height: 100%;
    /* background-color: #fff; */
    text-align: center;
    margin-top: 100px;
}
#box9 p{
    font-size:25px;
    font-weight: lighter;
}
#box9 h1{
    font-size: 50px;
}
#box10{
    width: 100%;
    height: 85%;
    /* background:wheat; */
    display: flex;
}
#box11{
    width: 40%;
    height: 100%;
    /* background:rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#box11 img{
    width: 400px;
    border-radius: 50%;
    margin-left: 60px;
}
#box12{
    width: 60%;
    height: 100%;
    /* background:blue; */
    /* display: flex; */
}
#box13{
    width: 100%;
    height: 40%;
    /* background: #000; */
    display: flex;
    align-items: center;
    margin-top: 20px;
    /* justify-content: center; */
    
}
#box14{
    margin: 0%;
    width: 100%;
    height: 50%;
    /* background: blueviolet; */
    /* margin-left: 50px; */
    
}
#box14 ul{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
     line-height: 1.5;
     
}
#box15{
    margin-top: 20px;
    width: 350px;
    height: 150px;
    border-style: solid;
    border-radius: 15%;
    border-color: #383940;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}
#text1 p{
    margin-top: 0%;
    font-size: 16px;
    margin-left: 25px;
}
#text1 img{
    margin-left: 100px;
}
#text1 h1{
    margin-left: 40px;
}
#box16{
    margin-top: 20px;
    width: 350px;
    height: 150px;
    border-style: solid;
    margin-left: 60px;
    border-radius: 15%;
    border-color: #383940;
}
#box16{
    margin-top: 20px;
    width: 350px;
    height: 150px;
    border-style: solid;
    border-radius: 15%;
    border-color: #383940;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}
#text2 p{
    margin-top: 0%;
    font-size: 14px;
    margin-left: 64px;
}

#text2 img{
    margin-left: 100px;
}
#text2 h1{
    margin-left: 45px;
}
#main3{
    height: 100%;
    width: 100%;

}
#main31{
    height: 20%;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#E1{
    width: 300px;
    height: 80%;
    /* background-color: black; */
}
#E2 p{
    margin-top: 30px;
    margin-left: 95px;
}
#E2 h1{
    font-size: 55px;
    margin-left: 20px;
}
#main32{
    height: 80%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#EB1{
    height: 67%;
    width: 37%;
    /* background: #000; */
    /* padding: 40px; */
    border-radius: 11%;
    border-style: solid;
    margin-bottom: 70px;
}
#EB2{
    height: 67%;
    width: 37%;
    /* background-color: rebeccapurple; */
    margin-left: 40px;
    border-radius: 11%;
    border-style: solid;
    margin-bottom: 70px;
}
#ES1{
    margin-left: 40px;
    margin-top: 20px;
    
}
.skills-card {
  width: 900px;
  max-width: 95%;
  /* margin: 30px auto; */
  /* padding: 35px 40px; */
  /* border: 2px solid #cfcfcf; */
  /* border-radius: 30px; */
  /* background: #fff; */
  margin-left: 10px;
}

.skills-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 35px;
  font-weight: 700;
  color: #4a4a4a;

}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 120px; /* row gap, column gap */
  justify-content: center;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.skill-icon {
  width: 32px;
  height: 32px;
  margin-top: 4px;
}

.skill-name {
  font-size: 22px;
  font-weight: 700;
  color: #000;

}

.skill-level {
  font-size: 18px;
  color: #666;
  margin-top: 4px;
}

/* Mobile responsive */
@media (max-width: 700px) {
  .skills-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .skills-title {
    font-size: 28px;
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 60px;   /* reduced spacing */
}
#main4{
    width: 100%;
    height: 100%;
    /* background: whitesmoke; */
}
#pr{
    width: 100%;
    height: 20%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#pr1 p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 45px;
}
#pr1 h1{
    font-size: 70px;
}
/* #parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
} */
#parent {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;
  /* height: 75%; */
}

/* Card */
.card {
  width: 420px;
  border: 2px solid #bdbdbd;
  border-radius: 40px;
  padding: 28px 28px 35px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Preview image box */
.preview {
  width: 460px;
  height: 280px;
  border-radius: 35px;
  overflow: hidden;
  margin-top: 10px;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Optional background shades */
.preview.one {
  background: #3f3646;
}

.preview.two {
  background: #2a0a4a;
}

/* Title */
.title {
  margin: 26px 0 22px;
  font-size: 44px;
  font-weight: 800;
  color: #000;
}

/* Buttons */
.btn-row {
  display: flex;
  gap: 26px;
}

.btn {
  min-width: 150px;
  padding: 14px 22px;
  border: 2px solid #9f9f9f;
  background: #fff;
  border-radius: 999px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  text-align: center;
  transition: 0.2s ease;
}

.btn:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

/* Responsive */
@media (max-width: 900px) {
  .card {
    width: 360px;
    border-radius: 32px;
  }

  .preview {
    width: 280px;
    height: 250px;
    border-radius: 28px;
  }

  .title {
    font-size: 36px;
  }

  .btn {
    min-width: 130px;
  }
}
#main5{
    width: 100%;
    height: 100%;
}
#cont1{
    width: 100%;
    height: 75%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#content p{
    font-size: 20px;
    margin-left: 0px;
}
#content h1{
    margin-left: 60px;
    font-size: 60px;
}
#link{
    width: 300px;
    height: 80px;
    border-style: solid;
    border-radius: 15%;
    
}

#content {
    text-align: center;
    margin-top: 60px;
}

#content p {
    font-size: 18px;
    color: #555;
}

#content h1 {
    font-size: 42px;
    margin: 10px 0 30px;
}

/* Outer pill box */
.contact-box {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid #a8a8a8;
    border-radius: 60px;
    padding: 20px 40px;
    width: fit-content;
    margin: auto;
}

/* Each contact item */
.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

/* Icons */
.contact-item img {
    width: 36px;
    height: 36px;
}

/* Hover effect */
.contact-item:hover {
    color: #0077b5; /* LinkedIn blue */
}
#dsas{
    width: 100%;
    height: 25%;
}
#cont2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
#detailcontent{
    display: flex;
    text-indent: 80px;
    font-size: 30px;
    padding-top: 55px;
    margin-top: 0px;
}
